<div class="form-wrapper">

  <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm.valid)">

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" id="author" name="author" [(ngModel)]="currentBook.author" required minlength="2" #author="ngModel" pattern="[^0-9]*" [disabled]="currentBookId">

      <div *ngIf="author.invalid && (author.dirty || author.touched)" class="alert alert-danger">
        <div *ngIf="author.errors.required">
          Author is required.
        </div>
        <div *ngIf="author.errors.minlength">
          Author must be at least 2 characters long.
        </div>
        <div *ngIf="author.errors.pattern">
          Digits are not allowed.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" name="title" [(ngModel)]="currentBook.title" required minlength="2" #title="ngModel" [disabled]="currentBookId">

      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
        <div *ngIf="title.errors.required">
          Title is required.
        </div>
        <div *ngIf="title.errors.minlength">
          Title must be at least 2 characters long.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" id="isbn" name="isbn" [(ngModel)]="currentBook.isbn" required minlength="10" #isbn="ngModel" pattern="[0-9]*" [disabled]="currentBookId">

      <div *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)" class="alert alert-danger">
        <div *ngIf="isbn.errors.required">
          ISBN is required.
        </div>
        <div *ngIf="isbn.errors.minlength">
          ISBN must be at least 10 characters long.
        </div>
        <div *ngIf="isbn.errors.pattern">
          Only digits are allowed.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input class="form-control" id="pages" name="pages" [(ngModel)]="currentBook.pages" required #pages="ngModel" pattern="[0-9]*" [disabled]="currentBookId">

      <div *ngIf="pages.invalid && (pages.dirty || pages.touched)" class="alert alert-danger">
        <div *ngIf="pages.errors.required">
          Number of pages is required.
        </div>
        <div *ngIf="pages.errors.pattern">
          Only digits are allowed.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" id="format" name="format" [(ngModel)]="currentBook.formatId" [disabled]="currentBookId">
        <option *ngFor="let format of dataLists.formats" [ngValue]="format.id" [selected]="format.id === currentBook.formatId">{{format.name}}</option>
        <!-- <option>Paperback</option>
        <option>Hardcover</option>
        <option>Audiobook</option>
        <option>Leather Bound</option>
        <option>Spiral Bound</option> -->
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" name="description" [(ngModel)]="currentBook.description" required minlength="10" #description="ngModel" [disabled]="currentBookId"></textarea>

      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Description is required.
        </div>
        <div *ngIf="description.errors.minlength">
          Description must be at least 10 characters long.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" id="price" name="price" [(ngModel)]="currentBook.price" required #price="ngModel" pattern="[0-9]*" [disabled]="currentBookId">

      <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
        <div *ngIf="price.errors.required">
          Price is required.
        </div>
        <div *ngIf="price.errors.pattern">
          Only digits are allowed.
        </div>
      </div>

    </div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country" name="country" [(ngModel)]="currentBook.countryId" required [disabled]="currentBookId">
        <option *ngFor="let country of dataLists.countries" [ngValue]="country.id" [selected]="country.id === currentBook.countryId">{{country.name}}</option>
        <!-- <option>Country #1</option>
        <option>Country #2</option>
        <option>Country #3</option> -->
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" id="city" name="city" [(ngModel)]="currentBook.cityId" required [disabled]="currentBookId">
        <ng-container *ngFor="let city of dataLists.cities">
          <option *ngIf="!(currentBook.countryId) || (city.countryId === currentBook.countryId)" [ngValue]="city.id" [selected]="city.id === currentBook.cityId">{{city.name}}</option>
        </ng-container>
        <!-- <option>City #1</option>
        <option>City #2</option>
        <option>City #3</option> -->
      </select>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" id="company" name="company" [(ngModel)]="currentBook.companyId" required [disabled]="currentBookId">
        <ng-container *ngFor="let company of dataLists.companies">
          <option *ngIf="!(currentBook.cityId) || (company.cityId === currentBook.cityId)" [ngValue]="company.id" [selected]="company.id === currentBook.companyId">{{company.name}}</option>
        </ng-container>
        <!-- <option>Company #1</option>
        <option>Company #2</option>
        <option>Company #3</option> -->
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4" [disabled]="bookForm.invalid" *ngIf="!currentBookId">Submit</button>

  </form>

</div>
